

.hero {
    background: url(../photo/Img.webp), lightgray 0px -147.517px / 100% 170.667%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
    padding-top: 200px;
}

.hero-title {
    color: var(--white-color);
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    line-height: 136%;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero-wrap {
    display: flex;
    justify-content: center;
}

.hero-btn {
    color: var(--white-color);
    background-color: var(--button);
    font-weight: 700;
    font-size: 16px;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    
}

.hero-btn:hover,
.hero-btn:focus {
    cursor: pointer;
}

.benefits {
    padding-top: 95px;
    background-color: var(--foot-adress);
}

.benefits-list {
    display: flex;
    justify-content: space-between;
}

.benefits-card {
    width: 270px;

}

.benefits-card::before {
    content: '';
    display: block;
    width: 100%;
    height: 120px;
    background-color: var(--bottom-section-bg);
    border-radius: 4px;
    background-image: url(../photo/antenna.webp);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.benefits-card:nth-child(2)::before {
    background-image: url(../photo/clock.webp);
}

.benefits-card:nth-child(3)::before {
    background-image: url(../photo/diagram.webp);
}

.benefits-card:nth-child(4)::before {
    background-image: url(../photo/astronaut.webp);
}

.benefits-title {
    color: var(--main-titles);
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 30px;
}

.benefits-text {
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 171.429%
}

.name-section {
    color: var(--main-titles);
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
    text-align: center;
}

.work {
    padding-top: 118px;
    padding-bottom: 94px;
}

.work-list {
    display: flex;
    justify-content: space-between;
}

.work-card {
    position: relative;
}

.work-img {
    width: 370px;
    height: 294px;

}

.activity-sutitle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2px;
    color: var(--foot-adress);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    background-color: var(--background-work);
    width: 100%;
    height: 70px;
}

.team {
    background-color: var(--bottom-section-bg);
    padding-bottom: 94px;
    padding-top: 94px;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-wrap {
    background-color: var(--foot-adress);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-img {
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
}

.team-name {
    color: var(--main-titles);
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

.social-icon {
    width: 20px;
    height: 20px;

}

.social-list {
    display: flex;
    justify-content: space-between;
    margin-right: 32px;
    margin-left: 32px;
    padding-bottom: 30px;
}

.social-link {
    fill: var(--icon-bg);
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: fill background-color;

    &:hover,
    &:focus{
        transition-duration: 250ms;
            fill: var(--foot-adress);
            background-color: var(--button);
    }
}

.profesion {
    color: var(--text-color);
    font-weight: 400;
    padding-bottom: 30px;
    font-size: 16px;
    text-align: center;
}

.regular-customers {
    padding: 94px 0;
}

.regular-customers-list {
    display: flex;
    justify-content: space-between;

}

.customers-icon {
    width: 106px;
    height: 60px;
    fill: var(--text-color);
    border-radius: 4px;
    border: 1px solid var(--text-color);
    padding: 16px 32px;
    transition-property: fill border-color;

    &:hover,
    &:focus{
        transition-duration: 250ms;
            fill: var(--button);
            border-color: var(--hover-color);
    }
}

