.project {
    padding-bottom: 95px;
    padding-top: 95px;

}

.main-filter {
    background-color: var(--bottom-section-bg);
    font-weight: 500;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    margin-bottom: 50px;
    transition-property: background-color color box-shadow;

    &:focus,
    &:hover{
        transition-duration: 500ms;
            background-color: var(--hover-color);
            color: var(--foot-studio);
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    }
}

.main-card {
    border: 1px solid var(--border-color-portfolio);
    width: 370px;
    position: relative;
    overflow: hidden;
    transition-property: box-shadow;

    &:focus,
    &:hover{
        transition-duration: 250ms;
            box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
}

.filter-wrap {
    width: 575px;
    margin: 0 auto;
}

.filter-list {
    display: flex;
    justify-content: space-between;

}





.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    /* display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis:calc((100% - 60px) / 3); */
}



.card-photo {
    margin-bottom: 20px;

}

.card-name {
    color: var(--main-text);
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
}

.card-type {
    color: var(--tex-color);
    font-weight: 400;
    padding-bottom: 20px;
    text-align: center;
}

.product-trumb {
    position: relative;
    overflow: hidden;
}

.product-action {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background-color: var(--bg-card);
    color: var(--foot-adress);
    width: 100%;
    height: 169px;

    padding: 63px 24px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transform: translateY(100%);
    transition: 1000ms cubic-bezier(0.8, -0.08, 0.3, 1);
}

.main-card:hover .product-action {
    transform: translateY(0);
    transition-duration: 1000ms cubic-bezier(0.8, -0.08, 0.3, 1);
    opacity: 1;
}