
.benefits {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $foot-adress;
    display: flex;
    justify-content: center;
}

.benefits__card{
    width: 290px;
    margin-bottom: 30px;
}

.benefits__title {
    text-align: center;
    color: $main-titles;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 30px;
}

@media screen and (min-width: 480px){
    .benefits__card{
        width: 450px;
    }

    .benefits__title{
        text-align: start;
    }
}

@media screen and (min-width: 768px) {
    .benefits__card {
        width: 354px;
    }
    .benefits__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        }
}

@media screen and (min-width: 1200px) {
    .benefits__card {
        width: 270px;
    }

        .benefits__list {
            flex-wrap: nowrap;
        }
}





.benefits__card::before {
    content: '';
    display: block;
    width: 100%;
    height: 120px;
    background-color: $bottom-section-bg;
    border-radius: 4px;
    background-image: url(../photo/antenna.webp);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .benefits__card::before{
        background-image: url(./../../photo/antenna@2x.webp);
    }

} 

.benefits__card:nth-child(2)::before {
    background-image: url(../photo/clock.webp);
}

@media (min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .benefits__card:nth-child(2)::before{
        background-image: url(./../../photo/clock@2x.webp);
    }

} 

.benefits__card:nth-child(3)::before {
    background-image: url(../photo/diagram.webp);
}

@media (min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .benefits__card:nth-child(3)::before{
        background-image: url(./../../photo/diagram@2x.webp);
    }

} 

.benefits__card:nth-child(4)::before {
    background-image: url(../photo/astronaut.webp);
}

@media (min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .benefits__card:nth-child(4)::before{
        background-image: url(./../../photo/astronaut@2x.webp);
    }

} 



.benefits__text {
    color: $text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 171.429%
}