.regular__customers {
    padding: 60px 0;
}

.regular__customers-list {
    @include spase-betven();
}

.customers__icon {
    width: 60px;
    height: 40px;
    margin-bottom: 30px;
    fill: $text-color;
    border-radius: 4px;
    border: 1px solid $text-color;
    padding: 16px 32px;
    transition-property: fill border-color;

    &:hover,
    &:focus {
        transition-duration: 250ms;
        fill: $hover-color;
        border-color: $hover-color;
    }
}

@media screen and (min-width: 480px) {
    .customers__icon{
        width: 150px;
        height: 92px;
    }
}

@media screen and (min-width: 768px) {
    .customers__icon{
        width: 160px;
        height: 92px;
        
    }

    
}

@media screen and (min-width: 1200px) {
    .regular__customers-list{
        flex-wrap: nowrap;
        
    }

    .customers__icon {
        width: 90px;
        height: 72px;

    }
}





