.footer {
    background-color: $bacraund-color;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__studio {
    display: flex;
    justify-content: center;
    color: $foot-adress;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 171.429%;
}

.footer__web {
    
    color: $hover-color;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
}

.footer__list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer__geo {
    display: flex;
        justify-content: center;
    color: $foot-adress;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 171.429%;

}



.footer__contacts {
    display: flex;
        justify-content: center;
    color: $foot-adress;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 171.429%;
    
}

.footer__list-name {
    display: flex;
    justify-content: center;
    color: $foot-adress;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 60px;
}

.footer__social-icon {
    width: 20px;
    height: 20px;

}

.footer__social-list {
    @include spase-betven();
    width: 206px;
    
}

.footer__social-link {
    fill: $icon-bg;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.10);
    transition-property: fill background-color;

    &:hover,
    &:focus {
        transition-duration: 250ms;
        fill: $foot-adress;
        background-color: $hover-color;
    }
}



.footer__input-subscribe {
    display: flex;
    margin-bottom: 20px;
    padding: 15px 70px 15px 15px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    margin-right: 12px;

}

.footer__button-subscribe {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    background-color: $hover-color;
    width: 200px;
    height: 50px;
    border: none;
    color: $foot-adress;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    &:hover {
        cursor: pointer;
    }
}



.footer__send-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: $foot-adress;
}

@media screen and (min-width: 480px) {
    .footer__input-subscribe {
        padding: 15px 260px 15px 16px;
    }
    
}

@media screen and (min-width: 768px) {
        .footer__social-subscribe{
            margin: 0 auto;
        }

        .footer__geo {justify-content: start;}

        .footer__list {      
            display: flex;      
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row;
            margin: 0 px;
        }

        .footer__input-subscribe {
            
            
            padding: 15px 387px 15px 16px;
        }


}

@media screen and (min-width: 1200px) {
    .footer__studio {
    
            justify-content: left;
        }
    
        .footer__contacts {
    
            justify-content: left;
        }

    .footer__input-subscribe {
        padding: 15px 295px 15px 16px;
        margin-right: 0;
    }

        .footer__list {
    
            
            flex-wrap: nowrap;
            
        }

        .footer__input-container {
            display: flex;
        }
}









