.menu__container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 48px 40px;
    width: 100%;
    height: 90%;
    background-color: $foot-adress;
    z-index: 999;
    transform: translateX(100%);
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
}

.menu__container.is-open{
    transform: translateX(10%);
}

.menu__button{
    position: absolute;
    top: 30px;
    right: 37px;
    background-color: transparent;
    cursor: pointer;
    border: none;

}



.menu__button-open-icon{
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-left: auto;

}

.menu__button-close-icon{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-left: auto;

}

.menu__button-open-icon,
.menu__button-close-icon{
    fill: $icon-bg;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    
}

.menu__button-open-icon:active,
.menu__button-close-icon:active{
    fill: $hover-color;
    color: $hover-color;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
        
}

.menu__box{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.mobile__nav-iteem{
    margin-bottom: 35px;
}

.mobile__nav-link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.002em;
    color: $main-titles;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
    

    &:hover,
    &:focus{
        color: $hover-color;
    }
}

.mobile__contacts-item{
    margin-bottom: 32px;
}

.mobile__contacts-tel{
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.02em;
    color: $text-color;

    &:hover,
    &:focus{
        color: $hover-color;
    }
}

.mobile__contacts-mail{
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: $text-color;

    &:hover,
    &:focus{
        color: $hover-color;
    }
}

.mobile__social-list{
    display: flex;
    
}

.mobile__socials-item{
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
    padding-right: 10px;
}

.mobile__socials-item:nth-child(1){
    border: none;
    padding-left: 0;
}

.mobile__social-link{
font-weight: 500;
font-size: 18px;
line-height: 122%;
letter-spacing: 0.02em;
color: $hover-color;
}


@media screen and (min-width: 768px) {
    .mobile-menu {
    display: none;
}

.menu__button{
    display: none;
}
}
