.modal__backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    opacity: 1;
    transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    visibility: hidden;
    transition: visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__bacdrop.is-hiden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal__no-scroll {
    overflow: hidden;
}

.modal {
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 310px;
    min-height: 581px;
    background-color: $foot-adress;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.modal__close {
    margin-top: 8px;
    margin-left: 310px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    background-color: $foot-adress;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    cursor: pointer;
    background-image: url(../photo/symbol-defs-modal.svg#icon-close-modal);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}

.modal__icon {
    fill: $head-studio;
    transition-property: fill;
    transition-duration: 333ms;

    &:hover,
    &:focus{
        fill: $hover-color;
    }
}

.modal__form {
    width: 235px;
    margin: 0 40px;

}

.modal__form-input {
    position: relative;
    padding-left: 40px;
    width: 190px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
    .modal__form-input {
        width: 330px;
    }

        .modal__form {
            width: 375px;
        }


        .modal {
            width: 450px;
        }

        .modal__close{
            margin-left: 410px;
        }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1200px) {
    .modal__form-input {
            width: 410px;
        }
    
        .modal__form {
            width: 455px;
        }

        .modal {
            width: 528px;
        }

                .modal__close {
                    margin-left: 490px;
                }
}

.modal__form-title {
    color: $main-titles;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.modal__form-fill {
    display: flex;
    flex-direction: column;
}

.modal__form-label {
    margin-bottom: 4px;
    color: $head-studio;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;

}


.modal__form-input:focus {
    outline: none;
    border-color: $hover-color;

}

.modal__form-input:focus+.modal-form-icon {
    fill: $hover-color;

}

.modal__form-icon {
    position: absolute;
    margin-top: 30px;
    margin-left: 12px;
    width: 18px;
    height: 18px;
}

.modal__form-icon:focus {
    fill: $hover-color;
}

.modal__coment {
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    color: rgba(117, 117, 117, 0.50);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
    font-weight: 400;
    padding-left: 16px;
    padding-top: 12px;
    letter-spacing: 0.12px;
}


.modal__policy-text {
    color: $text-color;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left: 8px;
    font-weight: 400;

    letter-spacing: 0.42px;
}

.modal__policy-link {
    color: $hover-color;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    font-weight: 400;

    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

.modal__form-policy {
    display: flex;
    margin-bottom: 34px;
}

.modal__agree-btn-wrap {
    display: flex;
    justify-content: center;
}

.modal__agree-btn {
    color: $foot-adress;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    font-weight: 700;
    margin-bottom: 40px;

    letter-spacing: 0.96px;
    padding: 10px 52px;
    border: none;
    border-radius: 4px;
    background: $hover-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}